.appBg-edit-Maint{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1010px;
    height: 535px;
    background-image: url(./g.jpg);
    background-size: cover;
    margin-left: 65px;
    margin-top: -45px;
  }
  .profile_logo-edit img {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80px;
      height: 50px;
   
      backdrop-filter: blur(3px);
       margin-top: 8px;
    }


  .LoginForm-edit{
    width: 450px;
    height: 550px;
    size: 50px;
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 1px 15px 0 rgba(11, 65, 241, 0.93);
    backdrop-filter: blur(3px);
    padding: 0px 16px 16px 16px ;
    border-radius: 16px;
    justify-content: end;
    margin-top: 70px;
    
  }
  
  .g_style_edit_Maint{
    font-size: 25px;
    color: yellow;

  }

  .labels-L{
    line-height: 20px;
    font-size: 20px;
    margin-left: -100px;
    margin-top: -100px;
     color: black;
   }
   .inputs-SL{
    font-size: 20px;
    width: 390px;
    margin-left: -100px;
    height: 45px;
   }
   

   /* ------------------------------- */
    

   .settings {
    margin-top: 100px;
    padding: 0px 30px;
    padding-bottom: 50px;
  }
  
  /* .settings__wrapper {
    padding: 20px;
    border-radius: 5px;
    background: var(--primary-color);
    width: 1050px;
  } */
  
  .title_edit_maint {
    /* color: var(--heading-color); */
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: -8px;
    color: cyan;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
     width: 555px;
     height: 50px;
     
  }
  
  .settings__top {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 1.5rem;
  }
  
  .setting__btn {
    border: none;
    padding: 7px 25px;
    background: transparent;
    border-radius: 5px;
    color: var(--heading-color);
    font-size: 1rem;
    cursor: pointer;
  }
  
  